<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" [routerLink]="['/']">
        <!--img src="../../../assets/img.png" alt="" height="30" width="30"-->
        <fa-icon [icon]="faGithub" size="lg"></fa-icon>
        GITHUB Finder App
    </a>

    <div class="navbar-collapse">
        <div class="navbar-nav ml-auto">
            <div class="navbar-text float-left" *ngIf="email">
                {{email}}
            </div>
            
            <a  class="nav-item nav-link" [routerLink]="['/']"
                 routerLinkActive="active">
                <fa-icon [icon]="faHome"></fa-icon> Home
            </a>

            <a  *ngIf="!email" class="nav-item nav-link" [routerLink]="['/signin']"
            routerLinkActive="active">
                <fa-icon [icon]="faSignInAlt"></fa-icon> Signin
            </a>


            <a  *ngIf="!email" class="nav-item nav-link" [routerLink]="['/signup']" 
            routerLinkActive="active" >
                <fa-icon [icon]="faUserPlus"></fa-icon> Signup
            </a>
            

            <a *ngIf="email" class="nav-item nav-link" [routerLink]="['/']" (click)="handleSignout()">
                <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
            </a>
        </div>
    </div>
</nav>