<div class="card user-card text-white">
    <div class="background">
        <img [src]="user.avatar_url" alt="" 
            class="rounded-circle img-thumbnail image-fluid"
            
            >     
    </div>

    <div class="card-body">
        <h5 class="card-title">
            {{user.name}}
        </h5>
        <p class="card-text text-dark">BIO: {{user.bio}}</p>
        <p class="card-text text-dark">Company: {{user.company}}</p>
        <p class="card-text text-dark">Blog: {{user.blog}}</p>

        <p class="card-text text-dark">
            Updated at:
            {{user.updated_at | date:"short"}}
        </p>
    </div>


</div>
